body{
    text-align: center;
}

h2{
    color: #6ca17f;
    font-size:30px;
}

button{

}

.offline{
    background-color: #f7f7f7;
    text-align: left;
    font-family: "Segoe UI", "Tahoma", sans-serif;
}

.offline .msg{
    max-width: 600px;
    margin: 15px auto 0 auto;
}

.offline h2{
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25em;
}

.offline p,
.offline ul{
    color: #2b2b2b;
    font-size: 15px;
    line-height: 1.55;
}

.offline p{
    margin-bottom: 0;
}

.offline ul{
    margin-top: 0;
}

.offline .error-code {
    color: #696969;
    display: inline;
    font-size: .86667em;
    margin-top: 15px;
    opacity: .5;
    text-transform: uppercase;
}
